

#fixed_bottom, #push
{
    height: 35px; 
    clear: both;
}
.scritta_footer
{
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

#sinistra
{
    margin-left: 0;
    float: left!important;
}

#destra
{
    margin-right: 0;
    float: right!important;
}