#filter-container {
  border-right: 1px solid #d2d2d2;
}

.filter-menu {
  padding: 4px;
}
.filter-link {
  color: black;
}

.filter-link:hover {
  text-decoration: none;
}

label {
  font-weight: normal;
  margin-bottom: 2px;
}
