
.book-container {
  margin: 2px;
}

.img-wrapper {
  
}

.book-link {
  color: black;
}

.custom-divider {
  background: #dcdcdc;
  height: 1px;
}

.disponibilita-immediata {
  color: green;
}

.non-disponibile {
  color: red;
}
