
.book-container {
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  background: #f8f8f8;
  border-radius: 4px;
}

.img-wrapper {
  padding: 4px;
  min-width: 60px;
  max-width: 130px;
}

.book-link {
  color: black;
}

.custom-divider {
  background: #dcdcdc;
  height: 1px;
}

.disponibilita-immediata {
  color: green;
}

.non-disponibile {
  color: red;
}
