/*
  Stili da condividere tra tutte le pagine per classi esistenti o per classi custom.
*/

/* pagina */
.header {
  
}

.sotto-header {
  padding-top: 50px;
}

.content-area {
  min-height: calc(100vh - 150px);
  padding: 16px;
}

.footer {
  
}


/* In questo modo i navbar è di esattamente 50px */
.navbar {
  margin-bottom: 0px;
}

/* Dividers */

.divider-horizontal {
  background: #ddd;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.divider-right {
  border-right: 1px #ddd solid;
}

.divider-left {
  border-right: 1px #ddd solid;
}

/* Fonts */

.subsection-title {
  color: #777;
}

.subtitle {
  color: #777;
}

/* Forms */


/* Others */
.img-wrapper {
  padding: 4px;
  min-width: 60px;
  max-width: 130px;
}

.book-container {
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  background: #f8f8f8;
  border-radius: 4px;
}

.my-jumbotron
{
    padding: 10px 10px;
    color: inherit;
    background-color: #eee;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.form-horizontal, .form-group
{
    margin-right: 0px;
    margin-left: 0px;
}