/*
  Stili da condividere tra tutte le pagine per classi esistenti o per classi custom.
*/


/* Dividers */

.divider-horizontal {
  background: #ddd;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.divider-right {
  border-right: 1px #ddd solid;
}

.divider-left {
  border-right: 1px #ddd solid;
}

/* Fonts */

.subsection-title {
  font-weight: bold;
  color: #777;
}

.subtitle {
  color: #777;
}

/* Forms */


/* Others */
.img-wrapper {
  padding: 4px;
  min-width: 60px;
  max-width: 130px;
}

.book-container {
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  background: #f8f8f8;
  border-radius: 4px;
}