#sotto_header {
    float: left;
}

#scritta_categorie
{
    display: block;
    float: left;
    position: relative;
    top: 15px;
    left: 0px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.sezione
{
    padding-top: 10px;
    margin: auto;
}

.libro_in_evidenza
{
    color: #555;
}

.icona_libro
{
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 15%;
    right: 0px;
}