/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-apr-2017, 17.24.24
    Author     : alemo
*/

#copertina-info
{
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 50px;
     margin-right: 0px; 
     margin-left: 0px; 
}

.copertina
{
    max-width: 200px;
    max-height: 314px;
}

#div_copertina
{
    /*float: left;*/
    max-height: 410px;
    margin-right: 10px;
    width: auto;
    height: auto;
    text-align: center;
}

#informazioni
{
    /*float: left;*/
    max-height: 450px;
}

#informazioni h2
{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 27px;
}

#informazioni h3
{
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 22px;
}

#informazioni p
{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
}

#voto
{
    padding: 10px;
}

#prezzo
{
    padding: 20px;
    /*float: right;*/
}

#carrello-desideri
{
    margin-top: 0px;
    margin-bottom: 10px;
}

#carrello-desideri .btn
{
    font-size: 20px;
    width: 230px;
}

#desiderato
{
    background-color: #337ab7;
}

#submit_voto
{
    background-color: green;
    /*border-color: green;*/
    margin-top: 10px;
}

#remove_voto {
  margin-top: 10px;
}

.sezione-bookpage
{
    margin-top: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.btn_bookpage
{
    margin-bottom: 20px;
    font-size: 20px;
}

#descrizione
{
    font-size: 18px;
}

.libro_consigliato
{
    text-align: center;
    /*width: 75%;*/
    min-width: 230px;
    margin: auto;
    margin-bottom: 10px;
}

.libro_consigliato p
{
    text-align: justify;
    width: 75%;
    margin: auto;
}

.copertina-consigliati
{
    height: 314px;
}
/*Come fare per aumentare l'altezza di copertina-info affinché contenga anche i
    bottoni e il testo che possono sbordare?*/
/*@media (max-width: 492px)
{
    #copertina-info
    {
        height: 960px;
    }
    
    #div_copertina
    {
        width: 100%;
        margin: auto;
    }
    
    #copertina-book-page
    {
        text-align: center;
        width: 75%;
        margin: auto;
    }
    
    #consigliati_div .btn
    {
        font-size: 16px;
    }
    
    .libro_consigliato
    {
        text-align: center;
        width: 75%;
        margin: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    #copertina-info
    {
        min-height: 820px;
        max-height: 920px;
        height: auto;
    }
}

@media (min-width: 492px) and (max-width: 991px)
{    
    .libro_consigliato
    {
        text-align: center;
        width: 75%;
        margin: auto;
    }
}

@media (min-width: 991px) and (max-width: 1200px)
{
    .libro_consigliato
    {
        float: left;
        width: 25%;
    }
}

@media (max-width: 991px)
{
    #prezzo
    {
        width: 100%;
        margin: auto;
    }
}*/


